<h1>Facebook</h1>
<p class="announcement">Connecting your Cubemania account to <strong><%= link_to "Facebook", "http://facebook.com" %></strong> allows you to post all your new <strong>records</strong>. Click on the link at the bottom and we'll redirect you to the Facebook homepage where you can allow Cubemania to post your records.</p>

<p class="information">
  <%= link_to "Yes, connect me!", @facebook_url, :id => "activate_facebook" %>
</p>