<% form_for [@puzzle, @competition, @shout ||= Shout.new] do |form| %>
  <p>
    <%= form.text_area :content %>
    <%= form.error_message_on :content %>
  </p>
    <%= form.submit 'Shout!' %>
  </p>
<% end %>