<% unless activity.corrupt? %>
<li class="activity <%= activity.class.name.underscore %>">
  <%= render :partial => activity.class.name.underscore, :locals => { :activity => activity } %>
  <br />
  <br />
  <%= link_to "#" do %>
    Show Comments <small>(4)</small>
  <% end %>
</li>
<% end %>
