#competitions {
  float: left;
  width: 750px;
  li {
    margin-bottom: 1em;
    background-repeat: no-repeat;
    background-position: 0.3125em left;
    padding-left: 60px;
    padding-bottom: 0.5em;
    overflow: hidden;
    small.skill {
      width: 50px;
      height: 51px;
      float:right;
      text-indent: -9999px;
      padding: 0.25em;
      background-repeat: no-repeat;
      background-position: center;
    }
    small.beginner {
      background-image: image-url("beginner.gif");
    }
  }
  li.sticky {
    background-color: $darkblue;
  }
  li.once {
    background-image: image-url("once.png");
  }
  li.daily {
    background-image: image-url("daily.png");
  }
  li.weekly {
    background-image: image-url("weekly.png");
  }
  li.monthly {
    background-image: image-url("monthly.png");
  }
}
#info {
  margin-left: 768px;
  width: 200px;
  p {
    margin-bottom: 1em;
  }
}
