#feed {
  background-image: image-url("timeline.png");
  background-repeat: repeat-y;
  background-position: 50% top;

  h2.date {
    margin: 0 auto;
    width: 300px;
    background-color: $darkblue;
    padding: 1em;
    text-align: center;
    border-radius: 10px;
    color: $lightblue;
    margin-bottom: 1em;
  }
  li.activity {
    position: relative;
    width: 50%;
    min-height: 50px;
    margin: 0 auto;
    margin-bottom: 1em;
    border-top: 3px solid $lightblue;
    background-color: $darkblue;
    text-align: center;
    padding: 16px 65px;
  }
  .puzzle-image {
    @include puzzle-image;
    position: absolute;
    right: 1em;
    top: 1em;
  }
  .kind-image {
    @include kind-image;
  }
}