p.tabs {
  text-align: center;
  margin-bottom: 2em;
  .selected {
    font-weight: bold;
  }
}

#records, #results {
  margin: 0 auto;
  thead {
    color: $yellow;
  }
  th, td {
    text-align: center;
    padding: 0.25em 1em;
    vertical-align: middle;
  }
  td {
    padding-left: 1em;
  }
  small {
    font-size: 1em;
    white-space: nowrap;
  }
  cite {
    text-transform: capitalize;
    white-space: nowrap;
  }
  .rank1, .rank2, .rank3 {
    margin-bottom: 1em;
    th {
      width: 42px;
      text-indent: -9999px;
      background-repeat: no-repeat;
      background-position: center center;
    }
  }
  .rank1 {
    th {
      background-image: image-url("rank1.gif");
    }
    strong, cite, small {
      font-size: 2em;
      line-height: 2.25em;
    }
  }
  .rank2 {
    th {
      background-image: image-url("rank2.gif");
    }
    strong, cite, small {
      font-size: 1.5em;
      line-height: 2em;
    }
  }
  .rank3 {
    th {
      background-image: image-url("rank3.gif");
    }
    strong, cite, small {
      font-size: 1.25em;
      line-height: 1.75em;
    }
  }

  .odd {
    background-color: $darkblue;
  }
  .puzzle {
    margin: 0.25em 0;
    width: 50px;
    height: 50px;
    position: relative;
    background-image: image-url("puzzles.png");
    background-repeat: no-repeat;
  }
  .kind {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-image: image-url("kinds.png");
    background-repeat: no-repeat;
  }
}