#shouts {
  margin-top: 2em;
  li {
    text-align: center;
    margin-bottom: 1em;
    cite {
      margin-right: 1em;
    }
    q {
      padding: 8px;
      display: inline-block;
      background-color: $lightblue;
      border-radius: 10px;
      position: relative;
    }
    q:before {
      content: "";
      position: absolute;
      width: 16px;
      height: 21px;
      top: 0px;
      left: -16px;
      background: $blue image-url("shout-flag.gif") no-repeat;
    }
  }
}
#new_shout {
  width: 300px;
  margin: 0 auto;
  li {
    margin: 0;
  }
  fieldset.inputs {
    background-color: $lightblue;
    padding: 0.5em 0.5em;
    border-radius: 10px;
    min-width: 300px;
  }
  div.flag {
    background-color: red;
    height: 21px;
    background: $blue image-url("new-shout-flag.gif") no-repeat top right;
  }
  fieldset.buttons input {
    margin-top: -10px;
    margin-left: 220px;
  }
}