#porno {
  margin-bottom: 2em;

  #timer {
    background-color: #517397;
    text-align: center;
    border-radius: 10px;
    display: inline-block;
    vertical-align: middle;
    width: 564px;
    padding: 8px 16px 24px 16px;

    .scramble {
      text-align: center;
      font-size: 0.9em;
      margin-bottom: 1em;
    }
    .time {
      display: none;
      font-weight: bold;
      font-size: 550%;
    }
    form {
      margin-top: 1em;
      margin-bottom: 1em;
      label {
        display: none;
      }
      li {
        text-align: center;
        margin-bottom: 1em;
      }
      input[type=submit] {
        display: inline-block;
        font-size: 150%;
        margin: 0;
      }
      input[type=text] {
        font-size: 200%;
        font-weight: bold;
        text-align: center;
        width: 7em;
      }
    }
  }

  #stats {
    h4 {
      font-weight: bold;
      margin-bottom: 0.2em;
    }
    text-align: center;
    width: 290px;
    padding: 16px;
    padding-top: 8px;
    margin-left: 44px;
    display: inline-block;
    border-radius: 10px;
    background-color: #517397;
    vertical-align: middle;
    .current {
      margin-bottom: 0.5em;
    }
  }

}
#times {
  #chart {
    width: 61.55%;
    float: left;
  }
  #singles {
    width: 290px;
    float: right;
    background-color: #517397;
    border-radius: 10px;
    padding: 16px;
    ol {
      list-style-type: decimal;
      list-style-position: outside;
      padding-left: 2em;
      li {
        .fu {
          text-align: right;
        }
        margin-bottom: 0.4em;
        .time.dnf {
          text-decoration: line-through;
          color: #83A1BF;
        }
      }
    }
    .details {
      display: none;
    }
    .edit {
      font-size: 0.75em;
      display: inline;
      .delete {
        color: red;
      }
      .delete:hover {
        background-color: red;
        color: #ccc;
      }
    }
  }
}
#times:after {
  @include clear-fix;
}
