#user {
  h1 small {
    font-size: 40%;
    margin-left: 0.5em;
  }

  .tabs .selected {
    font-weight: bold;
  }

  #wca {
    margin: 3em 0;
    text-align: center;
  }
  #wca a.logo {
    padding: 15px 25px;
    margin-right: 1em;
    background: transparent image-url("wca.gif") center no-repeat;
  }
  #wca a {
    font-size: 1.25em;
  }

  td.name small {
    text-transform: uppercase;
  }
}
