#users-search {
  text-align: center;
  input[type="search"] {
    font-size: 1.5em;
  }
  margin-bottom: 1em;
}

#users {
  font-size: 1.5em;
  text-align: center;
  li {
    display: inline;
    margin-right: 16px;
    small {
      font-size: 0.4em;
    }
  }
}