/.bundle
.DS_Store

.env

.sass-cache

# Ignore the default SQLite database.
db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log
/tmp

# Ignore compiled assets
/public/assets

# Ignore compiled javascript for Jasmine
/public/javascripts/compiled
/spec/javascripts/compiled

/public/system
