<div class="comments">
  <ol class="comments">
    <%= render commentable.comments %>
  </ol>
  <%= render(:partial => 'comments/form', :locals => { :comment => @comment ||= commentable.comments.build, :commentable => commentable }) if logged_in? %>
</div>
