<div class="comments">
  <ol class="comments">
    <%= render @post.comments %>
  </ol>
  <%= render(:partial => 'comments/form', :locals => { :comment => @comment ||= @post.comments.build, :commentable => @post }) if logged_in? %>
</div>