<% remote_form_for [ @post, @comment ||= @post.comments.build ], :before => "$('#comment_submit').attr('disabled', 'disabled')" do |form| %>
  <p>
    <%= form.text_area :content %>
    <%= form.error_message_on :content %>
  </p>
  <p>
    <%= form.submit 'Respond' %>
  </p>
<% end %>