<% div_for competition, :class => ('sticky' if competition.sticky?) do %>
  <strong><%= link_to competition.name.titleize, puzzle_competition_path(params[:puzzle_id], competition) %></strong>
  <small><%= competition.repeat.titleize %></small>
  <span><%= m(competition.description)[3..-5] %></span>
<% end %>