<h1><%=h @competition.name %></h1>

<div id="results">
  <table>
    <%= partial 'result', :collection => @competition.averages %>
  </table>
</div>

<%= partial 'shared/timer' %>
<%= partial 'shared/timer_js', :competition_id => @competition.id %>