body {
  color: black;
  width: 1000px;
  margin: 0 auto;
  font-family: "Verdana"; }

a {
  color: #4c5b79; }

a:visited {
  text-decoration: none; }

a:link {
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

h1 {
  font-size: 250%; }

h2 {
  font-size: 180%; }

h3 {
  font-size: 150%; }
