#timer {
  margin-left: 768px;
  width: 200px;
  text-align: center;
}
#timer p, #timer table {
  margin-bottom: 1em;
}
#timer tr {
  color: #83a1bf;
}
#timer tr.done {
  color: #fff;
}
#timer tr.dnf {
  color: #83a1bf;
}
#timer tr.dnf .time, #average .dnf {
  text-decoration: line-through;
}
#timer tr .time {
  width: 100%;
}
#timer tr .scramble, tr .milliseconds {
  display: none;
}
#timer tr .flags {
  display: none;
  font-size: 0.75em;
  white-space: nowrap;
}
#timer tr.done .flags {
  display: block;
}
#timer tr.dnf .flags .dnf, #timer tr.plus2 .flags .plus2 {
  color: #2f2f2f;
  background-color: #df0;
}
#timer #scramble {
  font-size: 0.875em;
}
#timer #go {
  display: block;
  width: 200px;
  height: 30px;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  background: url(/images/go.gif) no-repeat;
}
#timer #go:hover {
  color: #000;
  background-position: -200px;
}
#timer #go:active {
  background-position: -400px;
}
#timer #go.countdown {
  background-position: -600px;
}
#timer #go.running {
  background-position: -800px;
}
#timer #go.countdown, #timer #go.running {
  color: #fff;
}
#timer #average {
  padding-top: 0.5em;
  text-align: right;
  font-size: 1.25em;
  border-top: 2px solid;
}