#content {
  clear: both;
  color: #fff;
  background: #5c7da0 url(/images/content.gif) repeat-x;
}
#content .center {
  width: 968px;
  padding: 32px 16px;
}
#content h1 {
  font-size: 1.75em;
  margin-bottom: 1em;
  color: #df0;
}
#content h2 {
  font-size: 1.5em;
  margin: 1em 0;
  padding-bottom: 0.25em;
  color: #df0;
  border-bottom: 2px solid;
}
#content h3 {
  font-size: 1.5em;
  margin: 1em 0;
  color: #df0;
}
#content a {
  color: #df0;
}
#content a:hover {
  color: #2f2f2f;
  background-color: #df0;
  text-decoration: none;
}
#content a.checked {
  font-weight: bold;
}
#content small {
  color: #b5cadf;
  font-size: 0.75em;
}
#content strong {
  font-weight: bold;
}
#content em {
  background-color: #485f77;
}
#content cite {
  font-style: italic;
}

.text p, .text blockquote, .text ul, .text ol {
  margin-bottom: 1em;
}
.text p a {
  text-decoration: underline;
}
.text blockquote {
  font-style: italic;
  margin-left: 0.75em;
  padding-left: 21px;
  background: url(/images/open-quote.gif) top left no-repeat;
}
.text blockquote p {
  display: inline;
  margin-bottom: 0;
  padding-right: 21px;
  background: url(/images/close-quote.gif) bottom right no-repeat;
}
.text ul {
  list-style-type: square;
  margin-left: 1.5em;
}
.text ol {
  list-style-type: decimal;
  margin-left: 2em;
}

.meta {
  text-align: center;
  margin: 2em 0;
}

.comment cite {
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.125em;
}
.comment small {
  display: block;
  margin-bottom: 0.25em;
}
.new_comment textarea {
  width: 100%;
  height: 8em;
}
.new_comment input[type=submit] {
  margin-left: 0;
}

.pagination {
  text-align: center;
}
.pagination span, .pagination a {
  padding: 0.25em;
}
.pagination .current {
  color: #2f2f2f;
  background-color: #df0;
}
.pagination .disabled {
  color: #83a1bf;
}

form p {
  margin-bottom: 0.5em;
}
label {
  display: block;
  float: left;
  width: 150px;
}
input, textarea {
  padding: 1px;
}
input[type=submit] {
  margin-left: 150px;
}
label.error, span.error {
  color: #a00;
}
input.error {
  border: 2px solid #a00;
}

#content #tabs {
  text-align: center;
  margin-bottom: 2em;
}

#times {
  float: left;
  width: 750px;
}
.ui-slider {
  float: left;
  width: 600px;
  height: 23px;
  position: relative;
  background-image: url(/images/slider.png);
  background-position: center center;
}
.ui-slider-handle {
  position: absolute;
  z-index: 1;
  height: 23px;
  width: 12px;
  top: 0px;
  left: 0px;
  background-image: url(/images/slider-handle.gif);
}
.ui-slider-handle-active {
  border: 1px dotted black;
}
#times select {
  float: right;
  width: 150px;
}

#timer {
  margin-left: 750px;
  width: 250px;
  text-align: center;
}
#timer p {
  margin-bottom: 1em;
}
#go {
  display: block;
  width: 200px;
  height: 30px;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 1em;
  font-size: 1.5em;
  background: url(/images/go.gif) no-repeat;
}
#go:hover {
  color: #000;
  background-position: -200px;
}
#go:active {
  background-position: -400px;
}
#go.countdown {
  background-position: -600px;
}
#go.running {
  background-position: -800px;
}
#go.countdown, #go.running {
  color: #fff;
}
#timer li {
  color: #83a1bf;
}
#timer li div {
  position: relative;
}
#timer li.done {
  color: #fff;
}
#timer li.dnf {
  color: #83a1bf;
}
#timer li.dnf .time, #average .dnf {
  text-decoration: line-through;
}
#timer li .scramble, li .realTime {
  display: none;
}
#timer li .dnf {
  display: none;
  position: absolute;
  right: 0;
  font-size: 0.75em;
}
#timer li.done .dnf {
  display: inline;
}
#average {
  padding-top: 0.5em;
  text-align: right;
  font-size: 1.25em;
  border-top: 2px solid;
}

#records {
  text-align: center;
  list-style-position: inside;
}
#records cite {
  font-style: normal;
}
#records small {
  font-size: 1em;
}
#records strong, #records cite, #records small {
  margin-right: 0.5em;
}
#records .rank1 {
  font-size: 1.75em;
}
#records .rank1 strong {
  background-image: url(/images/rank1.gif);
}
#records .rank2 {
  font-size: 1.5em;
}
#records .rank2 strong {
  background-image: url(/images/rank2.gif);
}
#records .rank3 {
  font-size: 1.25em;
}
#records .rank3 strong {
  background-image: url(/images/rank3.gif);
}
#records .rank1, #records .rank2, #records .rank3 {
  margin-bottom: 1em;
  list-style: none;
}
#records .rank1 strong, #records .rank2 strong, #records .rank3 strong {
  padding-left: 43px;
  background-position: left center;
  background-repeat: no-repeat;
}