#content {
  clear: both;
  color: #fff;
  background: #5c7da0 url(/images/content.gif) repeat-x;
}
#content .center {
  width: 968px;
  padding: 32px 16px;
}
#content h1 {
  font-size: 1.75em;
  margin-bottom: 1em;
  color: #df0;
}
#content h2 {
  font-size: 1.5em;
  margin: 1em 0;
  padding-bottom: 0.25em;
  color: #df0;
  border-bottom: 2px solid;
}
#content h3 {
  font-size: 1.5em;
  margin: 1em 0;
  color: #df0;
}
#content h4 {
  font-size: 1.25em;
  color: #df0;
  margin-bottom: 1em;
}
#content a {
  color: #df0;
}
#content a img {
  border: 2px solid #517397;
}
#content a:hover {
  color: #2f2f2f;
  background-color: #df0;
  text-decoration: none;
}
#content a.image:hover {
  background-color: transparent;
}
#content a:hover img {
  border-color: #df0;
}
#content a.checked {
  font-weight: bold;
}
#content small {
  color: #b5cadf;
  font-size: 0.75em;
}
#content strong {
  font-weight: bold;
}
#content em {
  background-color: #517397;
}

#content .tabs {
  text-align: center;
  margin-bottom: 2em;
}

#content .announcement {
  padding: 0.5em;
  margin-bottom: 2em;
  background-color: #517397;
}
#content .announcement cite {
  font-style: italic;
}

#content .introduction {
  font-size: 1.25em;
  text-align: center;
  margin-bottom: 1.5em;
}

#content .text a {
  text-decoration: underline;
}
#content .text cite {
  font-style: italic;
}
#content .text p, #content .text blockquote, #content .text ul, #content .text ol {
  margin-bottom: 1em;
}
#content .text blockquote {
  font-style: italic;
  margin-left: 0.75em;
  padding-left: 21px;
  background: url(/images/open-quote.gif) top left no-repeat;
}
#content .text blockquote p {
  display: inline;
  margin-bottom: 0;
  padding-right: 21px;
  background: url(/images/close-quote.gif) bottom right no-repeat;
}
#content .text ul {
  list-style-type: square;
  margin-left: 1.5em;
}
#content .text ol {
  list-style-type: decimal;
  margin-left: 2em;
}

#content .meta {
  text-align: center;
  margin: 2em 0;
}

#content .challenge {
  font-size: 2em;
  text-align: center;
}

#content .footnote {
  text-align: center;
  padding: 0.5em;
  background-color: #517397;
}

#content .pagination {
  text-align: center;
}
#content .pagination span, #content .pagination a {
  padding: 0.25em;
}
#content .pagination .current {
  color: #2f2f2f;
  background-color: #df0;
}
#content .pagination .disabled {
  color: #83a1bf;
}

#content #admin {
  text-align: right;
}
#content #form {
  margin: 1em 0;
  padding: 1em;
  background-color: #517397;
}

#content form p {
  margin-bottom: 0.5em;
}
#content form p.bot {
  display: none;
}
#content label {
  display: block;
  float: left;
  width: 150px;
}
#content input, #content textarea {
  padding: 1px;
}
#content input[type=submit] {
  margin-left: 150px;
}
#content label.error, #content span.error {
  color: #a00;
}
#content span.error {
  display: block;
  margin-left: 150px;
}
#content input.error {
  border: 2px solid #a00;
}

#features {
  text-align: center;
}
#features li {
  float: left;
  display: block;
  width: 468px;
  margin-bottom: 1.5em;
}
#features li.odd {
  margin-right: 32px;
}
#features img {
  margin-bottom: 0.25em;
}

#comments {
  padding: 1em;
  background-color: #517397;
}
#comments .comment cite {
  display: block;
  font-size: 1.25em;
  margin-bottom: 0.125em;
}
#comments .comment small {
  display: block;
  margin-bottom: 0.25em;
}
#comments .new_comment textarea {
  width: 99%;
  height: 8em;
}
#comments .new_comment input[type=submit] {
  margin-left: 0;
}

#times {
  float: left;
  width: 750px;
}
#times #chart {
  height: 400px;
  text-align: center;
}
#times #chart a {
  display: block;
  padding: 168px 0;
}
#times #chart a:hover {
  background-color: transparent;
}
#times #chart img {
  border: 16px solid #fff;
}
#times .ui-slider {
  float: left;
  width: 511px;
  height: 23px;
  margin-left: 89px;
  position: relative;
  background: url(/images/slider.gif) center left repeat-x;
}
#times .ui-slider-handle {
  position: absolute;
  z-index: 1;
  height: 21px;
  width: 15px;
  top: 0px;
  left: 0px;
  background-image: url(/images/handle.gif);
}
#times .ui-slider-handle-active {
  border: 1px dotted black;
}
#times select {
  float: right;
  width: 137px;
  margin-left: 13px;
}

#timer {
  margin-left: 768px;
  width: 200px;
  text-align: center;
}
#timer p, #timer table {
  margin-bottom: 1em;
}
#timer tr {
  color: #83a1bf;
}
#timer tr.done {
  color: #fff;
}
#timer tr.dnf {
  color: #83a1bf;
}
#timer tr.dnf .time, #average .dnf {
  text-decoration: line-through;
}
#timer tr.best {
  color: #0d0;
}
#timer tr.worst {
  color: #c00;
}
#timer tr .time {
  width: 100%;
}
#timer tr .scramble, tr .milliseconds {
  display: none;
}
#timer tr .flags {
  display: none;
  font-size: 0.75em;
  white-space: nowrap;
  text-align: left;
}
#timer tr.done .flags {
  display: block;
}
#timer tr.dnf .flags .dnf, #timer tr.plus2 .flags .plus2 {
  color: #2f2f2f;
  background-color: #df0;
}
#timer .delete {
  color: #c00;
}
#timer .delete:hover {
  color: #fff;
  background-color: #c00;
}
#timer #help {
  font-size: 0.75em;
  margin-bottom: 16px;
}
#timer #scramble {
  font-size: 0.875em;
}
#timer #go {
  display: block;
  width: 200px;
  height: 30px;
  padding: 10px 0;
  margin: 0 auto;
  margin-bottom: 16px;
  font-size: 1.5em;
  background: url(/images/go.gif) no-repeat;
}
#timer #go:hover {
  color: #000;
  background-position: -200px;
}
#timer #go:active {
  background-position: -400px;
}
#timer #go.countdown {
  background-position: -600px;
}
#timer #go.running {
  background-position: -800px;
}
#timer #go.countdown, #timer #go.running {
  color: #fff;
}
#timer #average {
  padding-top: 0.5em;
  text-align: right;
  font-size: 1.25em;
  border-top: 2px solid;
}
#timer textarea {
  width: 198px;
}

#users {
  font-size: 1.5em;
}
#users li {
  display: inline;
  margin-right: 16px;
}

#records {
  margin: 0 auto;
  line-height: 1.5em;
}
#records th, #records td {
  text-align: center;
}
#records td {
  padding-left: 1em;
}
#records small {
  font-size: 1em;
}
#records cite {
  text-transform: capitalize;
}
#records .puzzle {
  margin: 0.25em 0;
  background-position: center right;
}
#records .kind {
  background-position: bottom right;
}
#records .puzzle, #records .kind {
  width: 50px;
  height: 50px;
  background-repeat: no-repeat;
}
#records .rank1 td strong, #records .rank1 td cite, #records .rank1 td small {
  font-size: 2em;
  line-height: 2.25em;
}
#records .rank1 th {
  background-image: url(/images/rank1.gif);
}
#records .rank2 td strong, #records .rank2 td cite, #records .rank2 td small {
  font-size: 1.5em;
  line-height: 2em;
}
#records .rank2 th {
  background-image: url(/images/rank2.gif);
}
#records .rank3 td strong, #records .rank3 td cite, #records .rank3 td small {
  font-size: 1.25em;
  line-height: 1.75em;
}
#records .rank3 th {
  background-image: url(/images/rank3.gif);
}
#records .rank1, #records .rank2, #records .rank3 {
  margin-bottom: 1em;
  list-style: none;
}
#records .rank1 th, #records .rank2 th, #records .rank3 th {
  width: 42px;
  background-position: center center;
  background-repeat: no-repeat;
}
#records .rank1 span, #records .rank2 span, #records .rank3 span {
  display: none;
}