body a#feedback, body a#feedback:link {
   background-position: 2px 50% !important;
   position: fixed !important;
   top: 55% !important;
   display: block !important;
   width: 25px !important;
   height: 98px !important;
   margin: -45px 0 0 0 !important;
   padding: 0 !important;
   z-index: 100001 !important;
   background-position: 2px 50% !important;
   background-repeat: no-repeat !important;
   text-indent: -9000px;
}
* html a#feedback, * html a#feedback:link {
  position: absolute !important;
  background-image: none !important;
}
a#feedback {
  left: 0;
  background-repeat: no-repeat;
  background-color: #101010;
  background-image: url(http://cdn.uservoice.com/images/widgets/en/feedback_tab_white.png);
  border: outset 1px #101010;
  border-left: none;
  -moz-border-radius: 1em;
  -moz-border-radius-topleft: 0;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-radius: 1em;
  -webkit-border-top-left-radius: 0;
  -webkit-border-bottom-left-radius: 0;
}
a#feedback:hover, a#feedback:link:hover {
  background-color: #284a6d;
  border: outset 1px #10af10;
  border-left: 0;
  /*width: 45px !important;
  background-position: 22px 50% !important;*/
}
* html a#feedback {
  filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='http://cdn.uservoice.com/images/widgets/en/feedback_tab_white.png');
}