header {
  height: 100px;
  background: url(/images/header.gif) repeat-x;
}
header .center {
  position: relative;
  width: 968px;
  padding: 0 16px;
}
header span {
  display: none;
}
header h3 {
  float: left;
}
header a {
  display: block;
  width: 295px;
  height: 100px;
  background: url(/images/logo.gif) left center no-repeat;
}
header blockquote {
  float: right;
  margin-top: 42px;
  padding-left: 21px;
  background: url(/images/open-quote.gif) top left no-repeat;
}
header p {
  color: #fff;
  padding-right: 21px;
  background: url(/images/close-quote.gif) bottom right no-repeat;
}