#navigation {
  display: block;
  height: 3.1875em;
  border-top: 1px solid #df0;
  background: #1e1e1e url(/images/navigation.gif) repeat-x;
}
#navigation li {
  display: block;
  float: left;
}
#navigation #login, #navigation #profile {
  float: right;
}
#navigation li a {
  display: block;
  padding: 1em;
  color: #4e4e4e;
  text-transform: uppercase;
}
#navigation li a:hover, #navigation li.checked a {
  color: #2f2f2f;
  background: #df0 url(/images/item.gif) repeat-x bottom;
}
#navigation #login a:hover, #navigation #login.checked a, #navigation #profile a:hover, #navigation #profile.checked a {
  color: #df0;
  background: none;
}