nav {
  display: block;
  border-top: 1px solid #df0;
  background: #1e1e1e url(/images/navigation.gif) repeat-x;
  overflow: hidden;
}
nav li {
  display: block;
  float: left;
}
nav #login, nav #profile {
  float: right;
}
nav li a {
  display: block;
  padding: 1em;
  color: #4e4e4e;
  text-transform: uppercase;
}
nav li a:hover, nav li.checked a {
  color: #2f2f2f;
  background: #df0 url(/images/item.gif) repeat-x bottom;
}
nav #login a:hover, nav #login.checked a, nav #profile a:hover, nav #profile.checked a {
  color: #df0;
  background: none;
}