#singles li .details {
  display: none;
}
#singles li {
  display: inline-block;
  margin-bottom: 0.5em;
  margin-right: 0.5em;
}
#singles li {
  font-size: 90%;
}
#chart {
  width: 500px;
  float: left;
}
#singles .dnf {
  text-decoration: line-through;
  color: #aaa;
}
#singles li:hover .details {
  display: block;
}

#singles li .details {
  position: absolute;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #df0;
  padding: 1em;
  z-index: 1;
}
#singles li a.destroy {
  color: #f00;
}
#singles li a.destroy:hover {
  color: #000;
  background-color: #f00;
}

#timer {
  display: block;
  text-align: center;
  margin: 1em 0em;
}
#timer time {
  font-size: 300%;
}
#timer form input[type=submit] {
  margin: 0;
  padding: 0;
}

#timer #scramble {
  text-align: center;
  display: block;
  margin-bottom: 1em;
}