#timer #singles li .details {
  display: none;
}
#timer #singles li {
  display: inline-block;
  padding: 0.25em;
}
#timer #singles li {
  font-size: 90%;
}
#timer #singles {
  width: 500px;
}
#timer #chart {
  width: 500px;
  float: left;
}