<p class="tabs">
  <%= link_to 'Single', kind_puzzle_records_path(:type => 'single'), :class => ('checked' if type? :single) %>
  <%= link_to 'Average', kind_puzzle_records_path(:type => 'average'), :class => ('checked' if type? :average) %>
</p>

<%- if @records.empty? -%>
<p class="challenge">
  Be the first: <%= link_to 'Get the record!', kind_puzzle_clocks_path %>
</p>
<%- else -%>
<table id="records">
  <%= partial 'record', :collection => @records %>
</table>
<%- end -%>