<p id="tabs">
  <%= link_to 'Single', kind_puzzle_records_path(:type => 'single'), :class => ('checked' if type? :single) %>
  <%= link_to 'Average', kind_puzzle_records_path(:type => 'average'), :class => ('checked' if type? :average) %>
</p>

<ol id="records">
  <%= partial 'record', :collection => @puzzle.records.send(params[:type]) %>
</ol>