<p id="caption">
  <%= link_to 'Single', records_path(:type => 'single'), :class => ('checked' if type? :single) %>
  <%= link_to 'Average', records_path(:type => 'average'), :class => ('checked' if type? :average) %>
</p>

<ul>
<%- for kind in @kinds -%>
  <li>
    <h2><%=h kind.name %></h2>
    <ol>
      <%= partial kind.records.send(params[:type]) %>
    </ol>
  </li>
<%- end -%>
</ul>