<section id="stats">
  Current Average of 5: <strong class="avg5"><%=ft @rolling_average[5].time %></strong><br />
  Current Average of 12: <strong class="avg12"><%=ft @rolling_average[12].time %></strong>
</section>