<li id="single-<%= single.id %>">
  <time data-time="<%= single.time %>"><%= single.human_time %></time>
  <%= link_to "X", puzzle_time_path(@puzzle, single), :method => :delete, :remote => true %>
</li>