<div id="statistics">
  <ul>
    <li>Best average of 5: <time id="avg5"><%= @average_record.try(:human_time) %></span></li>
    <li>Best average of 12: <time id="avg12"></time></li>
    <li>Current average of 5: <time id=""></time></li>
  </ul>
</div>