<% cache ['chart', @puzzle.id, @puzzle.version].join('/') do %>
<div id="times">
  <div id="chart" data-url="<%= puzzle_averages_path(@puzzle, :format => :json) %>">
  </div>
  <div id="mini_chart">
  </div>
  <div id="tooltip">
  </div>
  <%= select_tag 'user', options_for_user_select %>
  <div id="formats">
    <%= link_to 'Display by Date', '#' %> &middot; <%= link_to 'Get your times in CSV format!', puzzle_averages_path(@puzzle, :format => :csv) %>
  </div>
  <div id="average">
    <p class="challenge">
      Click on any datapoint in the chart to get further information!
    </p>
  </div>
</div>
<% end %>