<div id="times">
  <div id="chart">
    <a href="http://www.adobe.com/go/getflashplayer">
      <img src="http://www.adobe.com/images/shared/download_buttons/get_flash_player.gif" alt="Get Adobe Flash player" />
    </a>
  </div>
  <div id="slider"><div class="ui-slider-handle"></div></div>
  <%= select_tag 'user', options_for_user_select, :onchange => 'addSeries(this)' %>
</div>

<%- content_for :head, javascript_tag("swfobject.embedSWF('/movies/chart.swf', 'chart', '750', '400', '9.0.28.0', '/movies/expressInstall.swf', {dataUrl: '#{formatted_kind_puzzle_averages_path params[:kind_id], params[:puzzle_id], :xml}'}, {wmode: 'transparent'});") -%>
<%- javascript_tag do -%>
  function addSeries(select) {
    var index = select.selectedIndex;
    if (index > 0) {
      var id = select.options[index].value;
      document.getElementById("chart").addSeries("<%= formatted_kind_puzzle_averages_path params[:kind_id], params[:puzzle_id], :xml %>?user_id=" + id);
      select.selectedIndex = 0;
    }
  }
  function setSliderMax(max) {
    $('#slider').slider('updateMaxValue', max);
  }
  $('#slider').slider({minValue: 1, maxValue: 1, startValue: 1, stepping: 1, change: function(e, ui) {
    try { document.getElementById("chart").setItemCount(Math.ceil(ui.value)) } catch (e) {}
  }});
<%- end -%>