<div id="timer">
  <p id="scramble"></p>
  <a id="go" href="#" onclick="toggleTimer(); return false">GO!</a>
  <ol>
  <%- @puzzle.attempt_count.times do |index| -%>
    <li>
      <div>
        <span class="time">-</span>
        <span class="milliseconds"></span>
        <div class="buttons">
          <a class="dnf" href="#" onclick="toggleDnf(<%= index %>); return false">DNF</a>
          <a class="plus2" href="#" onclick="togglePlus2(<%= index %>); return false">+2</a>
        </div>
      </div>
      <div class="scramble"><%= @puzzle.scramble %></div>
    </li>
  <%- end -%>
  </ol>
  <p id="average">&Oslash; <span>0.00</span></p>
  <%= button_to_function 'Add', 'commitTimes()', :disabled => true %>
</div>