<div id="timer">
  <p class="scramble"><%= @puzzle.scramble %></p>
  <a class="go" href="#" onclick="toggleTimer(); return false">GO!</a>
  <ol>
  <%- @puzzle.attempt_count.times do |index| -%>
    <li>
      <div>
        <span class="time">-</span>
        <a class="dnf" href="#" onclick="toggleDnf(<%= index %>); return false">DNF</a>
      </div>
      <div class="scramble"><%= @puzzle.scramble %></div>
    </li>
  <%- end -%>
  </ol>
  <p class="average">&Oslash; <span class="time">0.00</span></p>
  <%= button_to_function 'Add', 'commitTimes()', :disabled => true %>
</div>