<h1>Editing clock</h1>

<%= error_messages_for :clock %>

<% form_for(@clock) do |f| %>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @clock %> |
<%= link_to 'Back', clocks_path %>
