<!--
if current_user? show his matches, otherwise show recent matches
-->

<h2>You've been challenged by</h2>
<ul>
  <%= render :partial => 'match', :collection => @challenged_matches %>
</ul>
<h2>You've challenged</h2>
<ul>
  <%= render :partial => 'match', :collection => @awaiting_matches %>
</ul>
<h2>Recent finished matches</h2>
<ul>
  <%= render :partial => 'match', :collection => @finished_matches %>
</ul>