$width: 1000px;
$yellow: #df0;
$blue: #5C7DA0;
$darkblue: #517397;
$lightblue: #8BA4C0;
$grey: #212121;

@mixin center($width) {
  width: $width;
  margin: 0 auto;
}

@mixin clear-fix {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}

@mixin puzzle-image {
  width: 50px;
  height: 50px;
  position: relative;
  background-image: image-url("puzzles.png");
  background-repeat: no-repeat;
}

@mixin kind-image {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  bottom: 0;
  background-image: image-url("kinds.png");
  background-repeat: no-repeat;
}
