$width: 1000px;
$yellow: #df0;
$darkblue: #517397;
$lightblue: #8BA4C0;

@mixin center($width) {
  width: $width;
  margin: 0 auto;
}

@mixin clear-fix {
  content: "";
  visibility: hidden;
  display: block;
  clear: both;
}

@mixin dnf {
  color: #83a1bf;
  text-decoration: line-through;
}