form {
  li {
    margin-bottom: 0.75em;
  }
  li.error {
    input {
      border: 2px solid #a00;
    }
    p.inline-errors {
      padding-left: 10em;
      color: #a00;
    }
  }
  label {
    display: block;
    float: left;
    width: 10em;
  }
  input, textarea {
    padding: 1px;
    margin: 0;
  }
  input[type=text], input[type=password], input[type=email] {
    width: 15em;
  }
  input[type=submit] {
    display: block;
    margin-left: 160px;
  }
  .bot {
    display: none;
  }
  li.boolean label {
    float: none;
    margin-left: 10em;
    input {
      margin-right: 0.75em;
    }
  }
}