$image-path: "/assets/images";

@import "reset";
@import "common";
@import "base";
@import "header";
@import "navigation";
@import "subnavigation";
@import "notice";
@import "token-input-facebook";
@import "form";
@import "content";
@import "footer";
@import "loading";

/* lol */
@for $i from 0 through 20 {
  .puzzle.pos#{$i}, .puzzle-image.pos#{$i} {
    background-position: $i * -50px 0px;
  }
  #puzzles .puzzle.pos#{$i} {
    background-position: $i * -50px -50px;
  }
  #puzzles a:hover .puzzle.pos#{$i}, #puzzles li.checked a .puzzle.pos#{$i} {
    background-position: $i * -50px 0px;
  }
  .kind.pos#{$i}, .kind-image.pos#{$i} {
    background-position: $i * -25px 0px;
  }
}
