#footer {
  clear: both;
  padding: 1em 0;
  color: #5c7da0;
  text-align: center;
  background: #1e1e1e url(/assets/footer.gif) repeat-x;
}
#footer a {
  color: #5c7da0;
  text-decoration: underline;
}
#footer a:hover {
  text-decoration: none;
  color: #2f2f2f;
  background-color: #5c7da0;
}