@import "common";

header.main {
  height: 100px;
  background: image-url("header.gif") repeat-x;

  div.center {
    @include center(968px);
    padding-left: 16px;
    padding-right: 16px;
  }

  h1 {
    float: left;
    a {
      text-indent: -9999px;
      display: block;
      height: 100px;
      width: 295px;
      background: image-url("logo.gif") no-repeat left center;
    }
  }

  cite {
    float: right;
    margin-top: 42px;
    color: white;
    /*background-color: #f0f;*/
    padding: 0 21px 0 21px;
    position: relative;
  }
  cite:before, cite:after {
    content: '"';
    width: 18px;
    display: block;
    text-indent: -9999px;
    position: absolute;
  }
  cite:before {
    left: -2px;
    top: -2px;
    background: image-url("open-quote.gif") no-repeat top left;
  }
  cite:after {
    right: -2px;
    bottom: -4px;
    background: image-url("close-quote.gif") no-repeat bottom right;
  }
}