.no-js {
  div.flash a.close {
    display: none;
  }
  #content {
    #timer .time, #singles .load-more {
      display: none;
    }
  }
}

.js {
  #content {
    #timer #new_single, #singles .pagination {
      display: none;
    }
    section.admin div.form {
      display: none;
    }
  }
}
