#singles li {
  display: inline-block;
  margin-top: 0.5em;
  margin-right: 0.5em;
}
#singles li {
  font-size: 90%;
  position: relative;
}
#singles .dnf {
  text-decoration: line-through;
  color: #aaa;
}
#singles li:hover .details {
  display: block;
}
#singles li .details {
  position: absolute;
  width: 400px;
  display: none;
  background-color: rgba(0,0,0,0.8);
  border: 1px solid #df0;
  padding: 1em;
  z-index: 1;
  text-align: left;
}
#singles li a.add_comment {
  display: inline-block;
  width: 100px;
  text-indent: -9999px;
  background: transparent url(/images/add-comment.gif) no-repeat;
}
#singles li a.destroy {
  color: #f00;
}
#singles li a.destroy:hover {
  color: #000;
  background-color: #f00;
}
#singles .details blockquote {
  font-style: italic;
}
#singles {
  text-align: center;
}

#timer {
  display: block;
  text-align: center;
  margin: 1em 0em;
}
#timer time {
  font-size: 500%;
  font-weight: bold;
  display: none;
}
#timer time.starting {
  color: #1d1;
}
#timer form input[type=text] {
  font-size: 200%;
  width: 8em;
  text-align: center;
}
#timer form input[type=submit] {
  margin: 0;
  padding: 0;
}
#timer #scramble {
  text-align: center;
  display: block;
  margin-bottom: 1em;
}

#statistics {
  margin-top: 1em;
  text-align: center;
}
#statistics time {
  font-weight: bold;
}

#chart {
  width: 800px;
  margin: 1.5em auto;
}