<ul id="feed">
  <% @activities.group_by { |a| a.updated_at.beginning_of_day }.each do |date, activities| %>
    <li>
      <h2 class="date"><%=d date %></h2>
      <ul class="activities">
        <%= render :partial => "activity", :collection => activities %>
      </ul>
    </li>
  <% end %>
</ul>

<%= will_paginate @activities %>
