nav.main {
  flex: none;

  border-top: 1px solid $yellow;
  background: url("../public/static/images/navigation.gif") repeat-x;
  overflow: hidden;
  ul {
    @include center($width);
    li {
      display: block;
      float: left;
      a {
        display: block;
        padding: 1em;
        color: #535353;
        text-transform: uppercase;
      }
    }
    li.session {
      float: right;
    }
    li a:hover,
    li.selected a {
      color: #202020;
      background: $yellow url("../public/static/images/item.gif") repeat-x bottom;
    }
    li.session.selected a,
    li.session a:hover {
      color: $yellow;
      background: none;
    }
  }
}
nav.main:after {
  @include clear-fix;
}
