<div class="admin">
  <%= link_to_function admin_label, "$(this).textToggle('#{admin_label}', 'Changed your mind?'); $('#form').slideToggle('fast')" %>
  <div id="form" style="display: none">
    <%= partial 'form' %>
  </div>
</div>