<section class="admin">
  <%= link_to admin_label, "#", :class => "toggle", :data => { :text => admin_label } %>
  <div class="form">
    <%= render "form" %>
  </div>
</section>

<script type="text/javascript">
  $("section.admin div.form").hide();
</script>