<div class="advert">
  <script type="text/javascript"><!--
  google_ad_client = "pub-3078232443037199";
  /* 728x90 Cubemania */
  google_ad_slot = "4126202554";
  google_ad_width = 728;
  google_ad_height = 90;
  //-->
  </script>
  <script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
  </script>
</div>