<script type="text/javascript">
  var uservoiceJsHost = ("https:" == document.location.protocol) ? "https://uservoice.com" : "http://cdn.uservoice.com";
  document.write(unescape("%3Cscript src='" + uservoiceJsHost + "/javascripts/widgets/tab.js' type='text/javascript'%3E%3C/script%3E"))
</script>
<script type="text/javascript">
UserVoice.Popin.setup({
  key: 'cubemania',
  host: 'cubemania.uservoice.com',
  forum: 'general',
  lang: 'en'
})
</script>

<a id="feedback" href="http://cubemania.uservoice.com/pages/30379" onclick="UserVoice.Popin.show(); return false;">Feedback</a>