<div id="footer">
  <div class="center">
    <p>
      Founded by Tim Habermaas,
      <a href="http://www.patrickstadler.de" title="Patrick Stadler's Website">Patrick Stadler</a> and
      <a href="http://www.simonwacker.com" title="Simon Wacker's Portfolio">Simon Wacker</a>
    </p>
  </div>
</div>