<div id="header">
  <div class="center">
    <h3><%= link_to '<span>Cubemania</span>', root_path, :title => 'Save The World - Solve The Puzzle' %></h3>
    <blockquote>
      <p>Save The World - Solve The Puzzle</p>
    </blockquote>
  </div>
</div>