<div id="header">
  <div class="center">
    <h3><a href="/" title="Cubemania"><span>Cubemania</span></a></h3>
    <blockquote>
      <p>Save The World - Solve The Puzzle</p>
    </blockquote>
  </div>
</div>