<header>
  <div class="center">
    <h3>
      <%= link_to root_path, :title => 'Save The World - Solve The Puzzle' do %>
        <span>Cubemania</span>
      <% end %>
    </h3>
    <blockquote>
      <p>Save The World - Solve The Puzzle</p>
    </blockquote>
  </div>
</header>