<% [:alert, :notice].each do |type| %>
  <div class="flash <%= type %>"<%= " style='display:none'" unless flash[type] %>>
    <p>
      <%= flash[type] %>
    </p>
    <a class="close" href="#">X</a>
  </div>
<% end %>