<h1>Password Recovery</h1>

<div class="announcement">
	Enter your email address in order to receive a new password.
</div>

<% form_for :recovery, @recovery, :url => password_recovery_path do |f| %>
  <p>
    <%= f.label :email %>
    <%= f.text_field :email %>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>